<form class="box">
  <div class="field">
    <label for="" class="label">Amount:</label>


      <div class="control has-icons-left">
      <input type="text" class="input">
        <span class="icon is-small is-left">
        <i class="fa fa-money"></i>
        </span>
      </div>
  </div>
      
  <div class="field">
    <button class="button is-success">Add Budget</button>
  </div>
</form>