<section class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h3 class="title has-text-white has-text-centered">Login</h3>
          <hr class="login-hr">
          <p class="subtitle has-text-white has-text-centered">Please login to track your expense!</p>
          <form action="" class="box login-form">
            <div class="field">
              <label for="#email-login" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email-login" placeholder="e.g. bobsmith@gmail.com" class="input" id="email-login" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="#password-login" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" id="password-login" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
        
            <div class="field">
              <button class="button is-success" id="loginBtn">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>