:root {
   --primary: #fff;
   --secondary: #3273dc;
   --font-size: 1.5rem;
}


.logo {
   background-image: url(../images/logo.png);
   background-size: contain;
   background-repeat: no-repeat;
   height: 400px;
   width: 400px;
   margin: 0 auto;
}

p {
   font-size: 18px;
}

/* .section {
   border-radius: 10px;
   background-color: var(--secondary);
} */

.title {
   border-radius: 10px;
   background-color: var(--tertiary);
}

/* TEMPORARY */


/* aside.menu {
   width: 33.33%;
   float: left;
 }

 main.section {
   width: 66.66%;
   float: right;
 }

 .columns {
   width: 100%;
 }

.button:hover {
   cursor: pointer;
}

.button:hover::before {
   cursor: pointer;
}

.button:hover::after {
   cursor: pointer;
} */